<!-- page heading start-->
<div class="page-heading">
    <h3>
        添加新闻
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">新闻动态</a>
        </li>
        <li class="active">添加新闻</li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">

            <section class="panel">
                <header class="panel-heading">
                    添加新闻
                    <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal  dt-form" role="form" action="/news/add"
                          method="post">

                        <div class="form-group">
                            <label for="Content_title" class="col-lg-2 col-sm-2 control-label">标题</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control required validate[required]" id="Content_title"
                                       value="$!title" name="title">

                                <p class="help-block">注：名称长度在1~255之间</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Content_title" class="col-lg-2 col-sm-2 control-label">跳转链接</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control required validate[required]" id="Content_title" placeholder=""
                                       value="$!href" name="href">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Content_title" class="col-lg-2 col-sm-2 control-label">简介</label>

                            <div class="col-lg-10">
                                <textarea rows="6" class="form-control textInput required validate[required]" name="info"  required="required">$!info</textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label">节目图片</label>

                            <div class="col-md-10">
                                <!-- 图片上传控件 S-->
                                <div class="dt-image-upload-component"
                                     data-upload-url="http://ipcool.me/upload/img"
                                     data-upload-width='640'
                                     data-upload-height='300'
                                     data-upload-min-width='640'
                                     data-upload-min-height='300'
                                     data-input-name="imageUrl"
                                     data-is-multi="false"
##                                     data-images='["$!imageUrl"]'
                                     data-images='["http://c3.duotin.com/i1/DT/sGXiFunDYqpKN6cYMuAZ4c7mELPtvuqZkORnNTfBOwY.jpg"]'
                                        >
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i>
                                    提交
                                </button>
                                <button class="btn btn-default" type="button"
                                        onclick="javascript:window.history.back(-1);">取消
                                </button>
                            </div>
                        </div>

                        <input type="hidden" name="albumId" value="$!content.albumId">
                        <input type="hidden" name="type" value="$!type">

                    </form>

                </div>
            </section>


        </div>
    </div>
</div
