<div class="container">
    <div class="carousel">
        <ul>
            #foreach($!banner in $!bannerList)
                <li>
                    <a href="$!banner.href"><img src="$!banner.imageUrl"></a>
                </li>
            #end
        </ul>
    </div>
    <div class="news_list">
        <ul>
            #foreach($!news in $!newsList)
                <li>
                    <img class="pic" src="$!news.imageUrl">

                    <h3 class="title">$!news.title</h3>
                    <a href="$!news.href" class="summary">$!news.info</a>
                </li>
            #end
        </ul>
    </div>

</div>

<script>
    Zepto(function ($) {
        var height = document.body.clientHeight;
        $(".news_list").css({height: height - 150 + 'px'})
        window.pageSlide = new mo.Slide({
            target: $('.carousel li'),
            direction: 'x',
            circle: true,
            controller: true,
            autoPlay: true,
        });
    });
</script>