<div class="hide" style="display: none;">
    <a id="pjaxThief" class="pjax-url" href=""></a>
</div>
<!--footer section start-->
<footer class="sticky-footer">
    2015 &copy; 追米文化
</footer>
<!--footer section end-->

