<!-- left side start-->
<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <a view-target="nav-tab" class="pjax-url" href="index.html">
            龙光汇管理系统
        </a>
    </div>
    <div class="left-side-inner">
        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="menu-list  nav-active">
                <a class="pjax-url" href="javascript:void(0);">
                    <i class="fa fa-list"></i>
                    <span>最新资讯</span>
                </a>
                <ul class="sub-menu-list">
                    <li #if($!pageName=="banneradd0") class="active" #end>
                        <a href="/banner/add?pageName=banneradd0">添加banner</a>
                    </li>
                    <li #if($!pageName=="bannerlist0") class="active" #end>
                        <a href="/banner/list?pageName=bannerlist0">banner列表</a>
                    </li>
                    <li #if($!pageName=="newsadd0") class="active" #end>
                        <a href="/news/add?pageName=newsadd0">新增资讯</a>
                    </li>
                    <li #if($!pageName=="newslist0") class="active" #end>
                        <a href="/news/list?pageName=newslist0">资讯管理</a>
                    </li>
                </ul>
            </li>

            <li class="menu-list  nav-active">
                <a class="pjax-url" href="javascript:void(0);">
                    <i class="fa fa-list"></i>
                    <span>明星动态</span>
                </a>
                <ul class="sub-menu-list">
                    <li #if($!pageName=="banneradd1") class="active" #end>
                        <a href="/banner/add?type=1&pageName=banneradd1">添加banner</a>
                    </li>
                    <li #if($!pageName=="bannerlist1") class="active" #end>
                        <a href="/banner/list?type=1&pageName=bannerlist1">banner列表</a>
                    </li>
                    <li #if($!pageName=="newsadd1") class="active" #end>
                        <a href="/news/add?type=1&pageName=newsadd1">新增动态</a>
                    </li>
                    <li #if($!pageName=="newslist1") class="active" #end>
                        <a href="/news/list?type=1&pageName=newslist1">动态管理</a>
                    </li>
                </ul>
            </li>

            <li class="menu-list  nav-active">
                <a class="pjax-url" href="javascript:void(0);">
                    <i class="fa fa-list"></i>
                    <span>视讯频道</span>
                </a>
                <ul class="sub-menu-list">
                    <li #if($!pageName=="banneradd2") class="active" #end>
                        <a href="/banner/add?type=2&pageName=banneradd2">添加banner</a>
                    </li>
                    <li #if($!pageName=="bannerlist2") class="active" #end>
                        <a href="/banner/list?type=2&pageName=bannerlist2">banner列表</a>
                    </li>
                    <li #if($!pageName=="newsadd2") class="active" #end>
                        <a href="/news/add?type=2&pageName=newsadd2">新增视讯</a>
                    </li>
                    <li #if($!pageName=="newslist2") class="active" #end>
                        <a href="/news/list?type=2&pageName=newslist2">视讯管理</a>
                    </li>
                </ul>
            </li>

            <li class="menu-list  nav-active">
                <a class="pjax-url" href="javascript:void(0);">
                    <i class="fa fa-list"></i>
                    <span>会员管理</span>
                </a>
                <ul class="sub-menu-list">

                    <li #if($!pageName=="memberlist") class="active" #end>
                        <a href="/member/list?pageName=memberlist">会员列表</a>
                    </li>
                    <li #if($!pageName=="memberapply") class="active" #end>
                        <a href="/member/apply?pageName=memberapply">申请管理</a>
                    </li>
                </ul>
            </li>

            <li class="menu-list  nav-active">
                <a class="pjax-url" href="javascript:void(0);">
                    <i class="fa fa-list"></i>
                    <span>明星管理</span>
                </a>
                <ul class="sub-menu-list">
                    <li #if($!pageName=="staradd") class="active" #end>
                        <a href="/star/add?pageName=staradd">新增明星</a>
                    </li>
                    <li #if($!pageName=="staradminlist") class="active" #end>
                        <a href="/star/admin/list?pageName=staradminlist">明星列表</a>
                    </li>

                </ul>
            </li>

            <li class="menu-list  nav-active">
                <a class="pjax-url" href="javascript:void(0);">
                    <i class="fa fa-list"></i>
                    <span>系统设置</span>
                </a>
                <ul class="sub-menu-list">

                    <li #if($!pageName=="settingphone") class="active" #end>
                        <a href="/setting/service/phone?pageName=settingphone">短信通知</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</div>
