<div class="container gray">
    <h5 class="label">选择您的生日</h5>
    <form>
        <input type="radio" id="male" name="sex" value="男" checked="checked"/>
        <label for="male">男</label>
        <input type="radio" id="female" name="sex" value="女"/>
        <label for="female">女</label>

        <input type="submit" value="保存">
    </form>
</div>