<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link href="http://ipcool.me/dist/lgh/dist/index.css" rel="stylesheet" type="text/css">
    <title>龙光汇</title>
    <script src="http://ipcool.me/dist/lgh/dist/motion.js"></script>
    <script src="http://ipcool.me/dist/lgh/dist/fastclick.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    $screen_content
</body>
</html>

