<div class="container">
    <ul class="user_infos">
        <li>
            <a href="#">
                <span class="icon-icon_huiyuanxinxi"></span>
                <h6>姓名</h6>
                <p>土豆</p>
                <span class="icon-icon_arrows"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon-icon_tel"></span>
                <h6>手机号</h6>
                <p>15267051024</p>
                <span class="icon-icon_arrows"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon-icon_birthday"></span>
                <h6>生日</h6>
                <p>1990-10-30</p>
                <span class="icon-icon_arrows"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon-icon_gender"></span>
                <h6>性别</h6>
                <p>男</p>
                <span class="icon-icon_arrows"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon-icon_add"></span>
                <h6>地址</h6>
                <span class="icon-icon_arrows"></span>
            </a>
        </li>
    </ul>
</div>